@media screen and (max-width: 915px) {
	.StubLogo-img {
		width: 275px;
	}
	.Stub {
	background: url('../image/bg-stub.jpg') right top no-repeat;
	}
}
@media screen and (max-width: 623px) {
	.StubLogo {
    	padding-left: 25px;
	}
	.StubLogo-img {
		width: 200px;
	}
	.StubSocial {
		padding-top: 40px;
		min-width: 120px;
	}
	.StubSocial-item {
		-webkit-transform: scale(0.7,0.7);
		        transform: scale(0.7,0.7);
	}
	.StubContacts-group {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}
	.StubContacts :last-child {
		margin-top: 15px;
	}
	.StubContacts-title, .StubOrder-title {
		font-size: 2rem;
	}
	.StubOrder-botton {
		padding: 14px 25px 14px 25px;
	}
}
@media screen and (max-width: 425px) {
	.StubLogo-img {
		width: 130px;
	}
	.StubSocial {
		padding-top: 25px;
		min-width: 100px;
	}
	.StubOrder-botton {
		padding: 8px 15px 8px 15px;
		font-size: 10px;
	}
}