.StubOrder-title {
	font-size: 2.4rem;
	font-family: "FuturaDemiC", sans-serif;
  	color: #fff;
  	text-transform: uppercase;
  	color: #fff;
	margin: 26px 0 35px 0;
}
.StubOrder-botton {
	display: inline-block;
	font-size: 1.4rem;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	border-radius: 50px;
	padding: 19px 35px 18px 35px;
	background-color: #fff;
	-webkit-box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.26);
	        box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.26);
	letter-spacing: 1px;
}


