* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	overflow: hidden;
}
a, p, span, h1 {
	padding: 0;
	margin: 0;
}

.Stub {
	height: 647px;
	/* height: 100vh; */
	max-width: 1200px;
	margin: auto;
	background: url('../image/bg-stub.jpg') center center no-repeat;
}

