.StubSocial {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-width: 177px;
	height: 30px;
	padding-top: 52px;
	margin-right: 20px;
}
.StubSocial-item {
	-webkit-filter: grayscale(1) invert() brightness(1);
	        filter: grayscale(1) invert() brightness(1);
}