.StubLogo {
	padding-left: 49px;
}

.StubLogo-img {
	-webkit-filter: grayscale(1) invert() brightness(1);
	        filter: grayscale(1) invert() brightness(1);
	text-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.26);
}