.StubContacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.StubContacts-group {
	color: #fff;
}
.StubContacts-group a {
	text-decoration: none;
}
.StubContacts-group a:not(:focus):not(:hover) {
	color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

.StubContacts-title {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-family: "FuturaDemiC", sans-serif;
	font-weight: normal;
	margin-bottom: 20px;
}
.StubContacts-name, .StubContacts-phone, .StubContacts-email {
	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
	line-height: 24px;
	font-weight: normal;
}

